@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,900');

html,body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
}

.wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

nav {
    background: palevioletred;
    height: 10vh;
    width: 100%;
}

.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

h1,h2,p {
    margin: 0;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: blue !important;
}
button.create, button.add-meetup, button.cancel-meetup {
    width: 100px;
    height: 50px;
    background-color: gainsboro;
    border: none;
    font-size: 14px;
    font-weight: 800;
}

button.attend {
    background-color: gainsboro;
    border: none;
    font-size: 14px;
}

/* Meetups */
.profile-pic {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.profile-pic .name{
    font-weight:800;
    padding-top: 10px;
    text-align: center;
}

.profile-pic img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 20% 0;
}
.meetup-item {
    position: relative;
    border: 1px solid black;
    min-height: 100px;
    border-radius: 5px;
    display: flex;
    padding: 20px;
    margin: 0 0 30px 0;
}

.meetup-item .event {
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.meetup-title {
    margin-bottom: 5px;
}

.meetups .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(148, 148, 148);
}

/* Create Meetup */
.create-meetup {
    display: none;
    position: absolute;
    top: 20vh;
    width: calc(100vw - 100px);
    min-height: 40vh;
    z-index: 2;
    background-color:papayawhip;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.create-meetup textarea {
    width: 80%;
    height: 20vh;
    font-size: 20px;
    border: none;
}

.create-meetup input {
    margin-right: 10px;
    border: none;
    padding: 5px;
    font-size: 14px;
}

.details-meetup {
    display: flex;
    width: 80%;
    justify-content: flex-start;
}

.buttons {
    display: flex;
}

.buttons button {
    margin-right: 10px;
}