@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,900');

html,body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #faf9f7;
}

.wrapper {
    padding-left: 100px;
    padding-right: 100px;
    width: calc(100vw - 200px);
}

nav {
    background: palevioletred;
    height: 10vh;
    width: 100%;
}

nav a:hover {
    color: #fff;
}

.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

h1,h2,p {
    margin: 0;
}

button:hover {
    cursor: pointer;
    background-color: rgb(214, 48, 103) !important;
    color: #fff !important;
}
button.create, button.add-meetup, button.cancel-meetup, button.attend-meetup, button.do-not-attend-meetup {
    width: 100px;
    height: 50px;
    background-color: gainsboro;
    border: none;
    font-size: 14px;
    font-weight: 800;
}

button.do-not-attend-meetup:hover {
    background-color:  rgb(235, 96, 96) !important;
}

button.attend-meetup:hover {
    background-color:  rgb(142, 237, 141) !important;
}

button.attend {
    background-color: gainsboro;
    border: none;
    font-size: 14px;
}

/* Meetups */
.profile-pic {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.profile-pic .name{
    font-weight:800;
    padding-top: 10px;
    text-align: center;
}

.profile-pic img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 20% 0;
}
.meetup-item {
    position: relative;
    border: 1px solid black;
    /* border-radius: 10px; */
    min-height: 100px;
    display: flex;
    padding: 20px;
    margin: 0 0 30px 0;
    background-color: #fff;
}

.meetup-item .event {
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.meetup-title {
    margin-bottom: 5px;
}

.meetups .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(148, 148, 148);
}

/* Create Meetup */
.create-meetup {
    display: none;
    position: absolute;
    top: 20vh;
    width: calc(100vw - 242px);
    min-height: 45vh;
    z-index: 2;
    background-color:#faf9f7;
    border: 1px solid black;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.create-meetup textarea {
    width: 80%;
    height: 20vh;
    padding: 10px;
    font-size: 20px;
    border: 1px solid rgb(48, 48, 48);
    resize: none;
}

.create-meetup input {
    margin-right: 10px;
    border: 1px solid rgb(48, 48, 48);
    padding: 10px;
    font-size: 14px;
    font-family: 'Montserrat', Arial, sans-serif;
}

#in-title{
    font-weight: 800;
}

.details-meetup {
    display: flex;
    justify-content: flex-start;
}

.buttons {
    display: flex;
}

.buttons button {
    margin-right: 10px;
}

button.cancel-meetup:hover {
    background-color: rgb(235, 96, 96) !important;
}

  