@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,800,900');

html,body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #faf9f7;
}
a {
     text-decoration: none;
     color: black;
 }
 a:hover {
     color: white;
 }
.container {
    padding-left: 100px;
    padding-right: 100px;
}
.main-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    border: 1px solid black;
    padding: 40px 30px;
    background-color: #fff;
}
i {
    color: rgb(0, 0, 0);
    padding: 5px 5px 5px 0px;
}
.info p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: rgb(0, 0, 0);
}
#Name {
    font-size: 28px;
    margin-right: 5px;
    color: #000000;
}
.name {
    display: flex;
    align-items: center;
}
h2 {
    display: inline; padding:0;margin:0
}

input.editing {
    font-size: 14px;
}
/* .online-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #50C470;
} */

/* .EditBio {
    margin-left: 5px;
} */
.fa-plus {
    font-size: 24px;
}

.fa-trash {
    margin-left: 2px;
}

.fa-trash {
    visibility: hidden;
}

.top-tips ol li:hover .fa-trash{
    visibility: visible;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(214, 48, 103) !important;
}

button.message {
    width: 100px;
    height: 50px;
    background-color: gainsboro;
    border: none;
    font-size: 14px;
    font-weight: 800;
    border-radius: 15px;
}
/* button.message:hover {
    cursor: url(./images/chat.svg), pointer;
} */

button#CreateTip {
    width: 80px;
    height: 30px;
    background-color: gainsboro;
    border: none;
    font-size: 14px;
    font-weight: 800;
    border-radius: 15px;
}

.star {
    padding-left: 10px;
}

.star:hover path{
    cursor: pointer;
    fill: #ffe928;
}

.bio {
    display: flex;
    flex-direction: column;
    /* max-width: 800px; */
    margin-left: 50px;
    flex-basis: 60%;
}
.description {
    font-size: 18px;
    line-height: 1.8;
}
.Interests {
    display: flex;
    margin-top: 10px;
}

.Interests button {
    padding: 5px 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 236, 236);
    border: none;
    font-size: 14px;
    font-weight: 800;
    border-radius: 8px;
    margin-right: 8px;
}

.InterestText {
    position: relative;
    bottom: 2px;
}

.Interests button.Interest:hover {
    background-color: rgb(235, 96, 96) !important;
}

button.Interest:hover i {
    color: white;
}

.fa-minus {
    font-size:14px;
    margin-left: 5px;
}

.profile-container {
    display: flex;
    align-items: center;
    flex-basis: 40%;
}
.profile-pic img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    /* object-position: 20% 0; */
    margin-right: 25px;
}

.sub-info {
    display: flex;
    justify-content: space-between;
}
.top-tips {
    margin-right: 50px;
    background-color: #fff;
    border: 1px solid black;
    padding: 20px 40px;
    min-width: 400px;
}

.meetups {
    min-width: 600px;
    background-color: #fff;
    border: 1px solid black;
    padding: 20px 40px;
}

.top-tips ol {
    text-align: left;
}
.top-tips ol li{
    font-size: 24px;
    line-height: 1.8;
    /* display: flex; */
}
input, textarea {
    font-size:24px;
    padding:10px 10px 10px 5px;
    border:1px solid #dadada;
    font-family: 'Montserrat', Arial, sans-serif;
    margin-right: 5px;
}
textarea {
    width: 100%;
}

input:focus{ outline:none; }

/* Meetup */
.meetup-item {
    position: relative;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 10px;
    display: flex;
    padding: 20px;
    margin: 0 0 5px 0;
}

.meetup-item .event {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.meetup-title {
    margin-bottom: 5px;
}

.meetups .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(148, 148, 148);
}

.details p, .description p, h2, p {
    margin: 0;
}

#ListOfMeetups {
    padding: 0;
}

ul {
    list-style-type: none;
}

.Meetup p, .no-tips {
    line-height: 1.8;
    font-size: 20px;
    color: rgb(177, 177, 177);
}

